run = "streamlit run main.py --server.port=81 --server.headless true --browser.serverAddress 0.0.0.0"
modules = ["python-3.11"]

[workflows]
runButton = "Run Streamlit App"

[[workflows.workflow]]
name = "Run Streamlit App"
author = 44427251
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run main.py --server.port=81 --server.headless true --browser.serverAddress 0.0.0.0"
